<h1>Editing Book</h1>

<%= form_with model: @book, local:true do |f| %>

  <p>Title</p>
  <%= f.text_field :title %>

  <p>Body</p>
  <%= f.text_area :body %>

  <%= f.submit 'Update Book' %>

<% end %>

<h6><%= link_to 'Show', book_path(@book.id) %></span></h6>

<h6><%= link_to 'Back', :back %></h6>

